[submodule "externals/smooth"]
	path = externals/smooth
	url = https://github.com/PlutoLimited/Smooth.git

[submodule "externals/tinymemport"]
	path = externals/tinymemport
	url = https://github.com/PlutoLimited/tinymemport.git
[submodule "components/esp-aws-iot"]
	path = components/esp-aws-iot
	url = https://github.com/espressif/esp-aws-iot
